.footer__column-link {
  color: #2f80ed;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  transition: opacity .3s linear;
}

.footer__column-link:hover {
  opacity: .6;
}
