@import url(../digits/section-title/section-title.css);
@import url(../digits/section-subtitle/section-subtitle.css);
@import url(../digits/table/table.css);


.kaufman {
  position: relative;
  padding: 90px 0 90px;
  background-color: #1f1f1f;
  color: #fff;
  z-index: 1;
  overflow: hidden;
}

.kaufman::after {
  content: "";
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 500px solid #2f80ed;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
  animation: rotation 20s linear infinite;
}
