.footer__arrow-up{
  display: flex;
  position: absolute;
  right: 20px;
  bottom: 20px;
  opacity: .3;
  transition: opacity .2s linear;
  margin: 0 auto;
}

.footer__arrow-up:hover {
  opacity: .6;
}
